<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58420873855-amc1r7qtiimo90rqgk2vm5f50dbbum84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58420873855-amc1r7qtiimo90rqgk2vm5f50dbbum84</string>
	<key>API_KEY</key>
	<string>AIzaSyCcDop4UMznTWrzlIHYBgdX6VSl_KgAjLg</string>
	<key>GCM_SENDER_ID</key>
	<string>58420873855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.camap</string>
	<key>PROJECT_ID</key>
	<string>camap-317b8</string>
	<key>STORAGE_BUCKET</key>
	<string>camap-317b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58420873855:ios:a6a8e39450339f7d928d4a</string>
</dict>
</plist>